@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.next:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 2.22px;
  left: 5px;
  width: 4.3px;
  height: 8px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.next:checked ~ .checkbox-label {
  @apply text-coal/50 line-through dark:text-white/25;
}

.select-selected::before {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.testing3:hover {
  background-color: pink;
}
@layer components {
  /* Typography */
  .heading-xl {
    @apply text-[1.5rem] font-bold leading-[1.875rem] text-coal;
  }

  .heading-l {
    @apply text-[1.125rem] font-bold leading-[1.438rem];
  }

  .heading-m {
    @apply text-[.938rem] font-bold leading-[1.188rem];
  }

  .heading-s {
    @apply text-[.75rem] font-bold leading-[.938rem] tracking-[0.15rem];
  }

  .body-l {
    @apply text-[.813rem] font-medium leading-[1.438rem];
  }

  .body-m {
    @apply text-[.75rem] font-bold leading-[.938rem];
  }

  /* Interactive Elements */

  /* Buttons */

  .btn-primary-l {
    @apply heading-m cursor-pointer rounded-full bg-purple py-4 px-6 text-white hover:bg-purple_hover;
  }

  .btn-primary-s {
    @apply cursor-pointer rounded-full bg-purple py-2 px-5 text-white hover:bg-purple_hover;
  }

  .btn-secondary-l {
    @apply heading-m cursor-pointer rounded-full bg-purple/[.15] py-4 px-6 text-purple hover:bg-purple/[.30] dark:bg-white;
  }

  .btn-secondary-s {
    @apply cursor-pointer rounded-full bg-purple/[.15] py-2 px-5 text-purple hover:bg-purple/[.30]  dark:bg-white;
  }

  .delete-btn {
    @apply bg-danger text-[0.813rem] font-bold leading-[1.438rem] text-white hover:bg-danger_hover;
  }

  /* forms */
  .input-border {
    @apply rounded-[4px] border border-medium_gray/25 px-3 dark:bg-dark_gray dark:text-white;
  }

  .label-title {
    @apply text-[.75rem] font-bold leading-[.938rem] tracking-wide text-medium_gray dark:text-white;
  }

  .form-error-message {
    @apply text-sm tracking-wide text-red-500;
  }

  /* Columns */
  .column-icon-color {
    @apply inline-block aspect-square w-3 rounded-full;
  }

  /* .test p {
    background-color: green;
  } */
}
